.services .card-text {
    font-size: 13px;
}
.services .type-glass{
    margin-bottom: 2rem;
}
.services {
    padding: 4rem 0;
}
.title-services {
    padding: 2rem 0;
}
.services .card-title {
    font-weight: bold;
    color:  #FA183D;
}
.services .price {
    color: rgb(0, 163, 0);
}

@media (min-width: 768px) and (max-width: 991.98px) { 
    .services .card-text {
        font-size: 10px;
    }
 }