.view-content {
  width: 50%;
}
.view-content-text {
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.view-content-text h3 {
  margin-bottom: 3rem;
  font-size: 35px;
  font-weight: bold;
}
.view-content-text p {
  text-align: justify;
  line-height: 2;
}
.view {
  background-color: #d0ca6145;
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .view .d-flex {
    flex-direction: column;
  }
  .view-content-text {
    width: 100%;
    padding: 2rem 2rem 0;
  }
  .view-content {
    width: 100%;
  }
  .sm-order-img {
    order: 2;
  }
  .sm-order-text {
    order: 1;
  }
  .view-content h3 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 18px;
  }
  .view-content p {
    text-align: justify;
    font-size: 11px;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .view .d-flex {
    flex-direction: column;
  }
  .view-content-text {
    width: 100%;
    padding: 2rem 2rem 0;
  }
  .view-content {
    width: 100%;
  }
  .sm-order-img {
    order: 2;
  }
  .sm-order-text {
    order: 1;
  }
  .view-content h3 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 25px;
  }
  .view-content p {
    text-align: justify;
    font-size: 11px;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .view-content-text h3 {
    margin-bottom: 2rem;
    font-size: 18px;
  }
  p {
    font-size: 10px;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .view-content-text h3 {
    margin-bottom: 2rem;
    font-size: 23px;
  }
  p {
    font-size: 13px;
  }
}
