.welcome {
  background-image: url("../../assets/images/about.png");
  background-size: cover;
  padding: 8rem 0;
  position: relative;
}
.welcome h2 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 2rem;
}
.about-content {
  position: relative;
  color: #fff;
  z-index: 4;
}
.def-h3 {
  font-weight: bold;
  padding: 3rem 0;
  font-size: 35px;
}
.text-about {
  padding: 30px;
  text-align: justify;
}
.mid-p {
  padding: 2rem 0;
}
.products {
  padding-bottom: 3rem;
}
@media (max-width: 575.98px) {
  .welcome h2 {
    font-size: 25px;
  }
  .welcome p {
    font-size: 11px;
    line-height: 1.8;
  }
  .welcome {
    padding: 4rem 0;
  }
  .def-h3 {
    font-size: 23px;
    padding: 4rem 30px 3rem;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .welcome h2 {
    font-size: 30px;
  }
  .welcome p {
    font-size: 13px;
  }
  .welcome {
    padding: 4rem 0;
  }
  .def-h3 {
    font-size: 23px;
    padding: 4rem 30px 2rem;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .welcome h2 {
    font-size: 30px;
  }
  .welcome p {
    font-size: 13px;
  }
  .def-h3 {
    font-size: 25px;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}
